/* Reglas
selectores
propiedades
valores */

/* selector etiqueta 
header section article nav */

/* selector descendente
body header div nav ol li a */

/* selector de clase .
.nombreClase */

/* selector de id 
#nombreId */

/* gris oscuro = #1d252c */
/* gris claro = #626262 */
/* background gris = #1b2127 */
/* celeste #026fff */

body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
}

h1{
    font-size: 40px;
    line-height: 1.5; /* Alto de linea */
    letter-spacing: -.2px; /* Espaciado del texto */
    /* text-transform: uppercase; /* Convertir el texto a Mayusculas */
    text-decoration: dashed;
    color: #fff;
    margin: 0;
}

h1 strong {
    color: #026fff;
}

h2 {
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro',system-ui;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 40px;
}

.header {
    background: #1b2127;
    color: #fff;
    display: flex;
    height: 75px;
    justify-content: space-between;
    align-items: center;
}

ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* figure {
    margin: 0;
    display: flex;
} */

.logo-container {
    padding: 1px;
    margin: 5px;
    display: flex;
    /* border: 0.1px solid #626262 ; */
    /* background: #1d252c; */
}

.logo-img {
    width: 45px;
    height: 45px;
}

.logo-title {
    display: inline-flex;
    padding: 1px;   
    margin: 10px;
    font-size: 21px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
}

.header a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

.menu {
    height: inherit;
}

.header ol {
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;
    display: flex;
    align-items: center;
}

.hero {
    height: 300px;
    /* background-image: url(/images/hero.jpg); */
    background-color: #1b2127;
    /* background-size: 500px 300px; */
    /* background-repeat: no-repeat; */
    /* background-position-x: right; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-image {
    object-fit: cover; /* Para dimensionar de forma correcta la imagen*/
}

.portfolio {
    background: #fafafa;
    padding: 20px;
}

.project {
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-details {
    width: 50%;
}

.project-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-imageContainer {
    width: 50%;
    margin: 0 auto;
}

.project-imageContainer img {
    max-width: 100%;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
}

.event-list-title {
    margin-left: 20px;
}

.event {
    margin: 10px;
    width: 480px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: #f4fbff;
}

.event-imageContainer{
    width: 480px;
    height: 200px;
    margin: 0;
    object-fit: cover;
}

.event-image {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.event-detail {
    margin: 20px 40px;
    margin-top: -40px;
    background-color: #fff;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event-description {
    text-align: left;
}

.event-url {
    border: 1px solid #056fff;
    padding: 5px 20px;
    text-decoration: none;
    color: #056fff;
    border-radius: 5px;
}

.contact {
    background-color: #056fff;
    color: #fff;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-link {
    display: inline-block;
    font-size: 50px;
    /* width: 50px;
    height: 50px; */
    margin: 0 10px;
    color: #fff;
    /* background-size: 50px 50px; */
}

/* .social-link.twitter {
    background-image: url(../images/twitter-brands.svg);
}

.social-link.facebook {
    background-image: url(../images/facebook-square-brands.svg);
}

.social-link.github {
    background-image: url(../images/github-brands.svg);
}

.social-link.instagram {
    background-image: url(../images/instagram-brands.svg);
} */

.form-email input {
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url(../images/envelope-solid.svg);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button {
    display: block;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
    margin: 10px 1px; 
}

/* Clase container del header -> Con herencia de Css */
.container {
    /* border: 1px solid red; */
    width: 1000px;
    height: inherit;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    flex-wrap: inherit;
}


.footer {
    color: #fff;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer img {
    vertical-align: middle;
}

.footer a {
    color: #fff;
}